@use '../variables/' as *;
@use '../mixins/' as *;

.clients {
	@include flex(row, space-between, center, 2rem);
	margin-top: auto;
	width: 100%;

	.clients-svg {
		width: calc(100vw / 10);

		path {
			@include transition;
		}
	}

	.clients-svg:hover {
		cursor: pointer;

		path {
			fill: $offblack;
		}
	}
}
