@use '../variables/' as *;
@use '../mixins/' as *;

main {
	@include flex(row, center, center, 0);

	padding: 1rem 5vw 0;
	> * {
		width: 50%;
	}

	h1 {
		@include weight700(clamp(2.5rem, 0.75rem + 5vw, 5rem), $offblack);
		line-height: 1em;
	}

	.hero-content {
		@include flex(column, center, flex-start, 3rem);
		padding-top: 4rem;
		height: 100%;

		p {
			@include weight500(clamp(0.75rem, 0.5rem + 1vw, 1rem), $gray);
			width: 75%;
		}

		button {
			@include button($offblack, $offblack);
			@include weight700(1rem, $offwhite);
			padding: 0.85rem 1.5rem;
		}
		button:hover {
			@include hover($offwhite, $offblack, $offblack);
		}
	}

	.hero-image {
		max-height: 70vh;
		width: auto;
		max-width: 40vw;
		margin-left: 2vw;
		align-self: flex-end;
	}

	@include respond(large) {
		padding: 0 2vw;

		> * {
			width: 50%;
			margin: 0 2vw;
		}
	}

	@include respond(medium) {
		.hero-content {
			gap: 2rem;
		}
	}

	@include respond(x-small) {
		flex-direction: column;
		> * {
			width: 100%;
			margin: 0;
		}
		padding: 0;

		.hero-image {
			max-width: 100vw;
			max-height: 50vh;
			object-fit: cover;
			width: 100%;
			margin: 0;
		}

		.hero-content {
			background-color: transparent;
			padding-top: 2rem;
			order: 2;
			text-align: center;
			gap: 1rem;
			p,
			h1 {
				width: 100%;
				padding: 0 0.5rem;
			}
			p {
				font-size: 1rem;
			}
			button {
				margin: 1rem auto 2rem;
			}
		}
	}
}
