@use '../variables/' as *;
@use '../mixins/' as *;

main {
	@include flex(row, center, center, 0);

	padding: 1rem 5vw 0;
	> * {
		width: 50%;
	}

	h1 {
		@include weight700(calc(4rem + 0.5vw), $offblack);
		line-height: 1em;
	}

	.hero-content {
		@include flex(column, center, flex-start, 3rem);
		padding-top: 4rem;
		height: 100%;

		p {
			@include weight500(1rem, $gray);
			width: 75%;
		}

		button {
			@include button($offblack, $offblack);
			@include weight700(1rem, $offwhite);
			padding: 0.85rem 1.5rem;
		}
		button:hover {
			@include hover($offwhite, $offblack, $offblack);
		}
	}

	.hero-desktop {
		max-height: 70vh;
		width: auto;
		max-width: 40vw;
		margin-left: 2vw;
	}

	@include respond(large) {
		padding: 0 2vw;

		> * {
			width: 50%;
			margin: 0 2vw;
		}

		h1 {
			font-size: 3.5rem;
		}
	}

	@include respond(medium) {
		h1 {
			font-size: 3rem;
		}

		.hero-content {
			gap: 2rem;
		}
	}
}
