@use '../variables/' as *;
@use '../mixins/' as *;

main {
	@include flex(row, center, center, 0);

	padding: 0 5vw;
	> * {
		width: 50%;
		margin: 0 3vw;
	}

	h1 {
		@include weight700(calc(3rem + 0.75vw), $offblack);
		line-height: 1em;
	}

	.hero-content {
		@include flex(column, center, flex-start, 2.5rem);
		padding-top: 2rem;
		height: 100%;

		p {
			@include weight500(1rem, $gray);
		}

		button {
			@include button($offblack, $offblack);
			@include weight700(1rem, $offwhite);
		}
	}

	.hero-desktop {
		max-height: 70vh;
		width: auto;
		max-width: 40vw;
	}

	@include respond(large) {
		padding: 0 2vw;

		> * {
			width: 50%;
			margin: 0 2vw;
		}

		h1 {
			font-size: 3.5rem;
		}
	}

	@include respond(medium) {
		h1 {
			font-size: 3rem;
		}

		.hero-content {
			gap: 2rem;
		}
	}
}
