@use '../variables/' as *;
@use '../mixins/' as *;

nav {
	@include flex;
	padding: 1.5rem 2rem;

	img {
		margin-right: 3rem;
	}

	ul {
		@include ul;
	}

	.users {
		margin-left: auto;

		button {
			@include button(transparent, transparent);
			@include weight700(14px, $gray);
		}

		.register {
			@include borders($gray);
		}
	}
}
