@use '../variables/' as *;
@use '../mixins/' as *;

nav {
	@include flex(row, flex-start, baseline, 0);
	padding: 1.5rem 2rem;
	.nav-links {
		@include flex(row, space-between, baseline);
		flex: 1;
	}
	.logo {
		margin-right: 2rem;
		margin-bottom: 0.25rem;
		align-self: flex-end;

		path {
			@include transition;
		}
	}

	.logo:hover {
		cursor: pointer;

		path {
			fill: $gray;
		}
	}

	ul {
		@include ul;
		svg {
			display: inline;
		}
		li {
			position: relative;
			height: 1.5rem;
		}

		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	.arrow {
		margin-left: 0.5rem;
	}

	.users {
		margin-left: auto;

		button {
			@include button(transparent, transparent, 14px, $ltgray);
			margin: 1rem 0.25rem 0;
		}
		button:hover {
			@include hover(transparent, transparent, $offblack);
		}

		.register {
			@include borders($ltgray);
		}
		.register:hover {
			@include hover(transparent, $offblack, $offblack);
		}
	}

	.menu {
		path {
			@include transition;
		}
	}

	.menu:hover {
		cursor: pointer;

		path {
			fill: $gray;
		}
	}

	@include respond(large) {
		padding: 1rem;
		.logo {
			margin-right: 1rem;
			margin-bottom: 0;
			align-self: center;
		}
		ul {
			gap: 1.5rem;
		}
		.arrow {
			margin-left: 0.25rem;
		}

		.users {
			button {
				margin: 0;
				padding: 0.5rem 1rem;
			}
		}
	}

	@include respond(medium) {
		padding: 0.75rem;
		.logo {
			margin-right: 1rem;
		}
		ul {
			gap: 1.25rem;
		}

		.users {
			button {
				padding: 0.5rem;
			}
		}
	}

	@include respond(small) {
		justify-content: space-between;

		.menu {
			position: relative;
			z-index: 5;
		}
		.nav-links {
			@include flex(column, flex-start, flex-start, 1rem);
			position: fixed;
			top: 0;
			right: 0;
			height: 100%;
			min-height: 100vh;
			padding: 3rem 1rem 0;
			width: 50vw;
			background-color: $offwhite;
			z-index: 1;
			transition: transform 500ms, box-shadow 300ms, visibility 500ms;
			box-shadow: -3vw 0 50vw 50vw rgba(0, 0, 0, 0.5);
			clip-path: inset(0 0 0 -70vw);
			transform: translateX(0);
			transform-origin: right;
			visibility: visible;
			overflow: hidden;

			ul {
				@include flex(column, flex-end, flex-start, 1rem);
				li {
					height: auto;
					font-size: 0.9rem;
				}
			}

			.users {
				display: grid;
				width: 100%;
			}

			.dropdown {
				position: relative;
				top: 0;
				width: auto;
				display: block;
				background-color: transparent;
				box-shadow: 0.25rem 0.25rem 3rem rgba(0, 0, 0, 0);
			}
		}

		.hidden {
			transform: translateX(100%);
			transform-origin: right;
			box-shadow: none;
			visibility: hidden;
		}
	}
}
