@use '../variables/' as *;
@use '../mixins/' as *;

nav {
	@include flex(row, center, baseline, 0);
	padding: 1.5rem 2rem;

	.logo {
		margin-right: 2rem;
		margin-bottom: 0.25rem;
		align-self: flex-end;

		path {
			@include transition;
		}
	}

	.logo:hover {
		cursor: pointer;

		path {
			fill: $gray;
		}
	}

	ul {
		@include ul;
		svg {
			display: inline;
		}
		li {
			position: relative;
			height: 1.5rem;
		}

		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	.arrow {
		margin-left: 0.5rem;
	}

	.users {
		margin-left: auto;

		button {
			@include button(transparent, transparent);
			@include weight700(14px, $ltgray);
			margin: 1rem 0.25rem 0;
		}
		button:hover {
			@include hover(transparent, transparent, $offblack);
		}

		.register {
			@include borders($ltgray);
		}
		.register:hover {
			@include hover(transparent, $offblack, $offblack);
		}
	}

	@include respond(medium) {
		padding: 1rem;
		.logo {
			margin-right: 1rem;
			margin-bottom: 0;
			align-self: center;
		}
		ul {
			gap: 1.5rem;
		}
		.arrow {
			margin-left: 0.25rem;
		}

		.users {
			button {
				margin: 0;
				padding: 0.5rem 1rem;
			}
		}
	}

	@include respond(small) {
		padding: 0.75rem;
		.logo {
			margin-right: 1rem;
		}
		ul {
			gap: 1.25rem;
		}

		.users {
			button {
				padding: 0.5rem;
			}
		}
	}

	@include respond(x-small) {
		justify-content: space-between;

		ul,
		.users {
			display: none;
		}
	}
}
