@use '../variables/' as *;
@use './shapes' as *;
@use './effects' as *;
@use './layouts' as *;

@mixin weight700($size, $color) {
	font-size: $size;
	font-weight: 700;
	color: $color;
}

@mixin weight500($size, $color) {
	font-size: $size;
	font-weight: 500;
	color: $color;
}

@mixin ul {
	list-style-type: none;
	@include flex(row, center, center, 2rem);

	li {
		@include weight700(14px, $ltgray);
		@include transition;
	}

	li:hover {
		@include hover(transparent, transparent, $offblack);
	}
}
