@use '../variables/' as *;
@use './effects' as *;
@use './layouts' as *;

@mixin weight700($size: inherit, $color: inherit) {
	font-size: $size;
	font-weight: 700;
	color: $color;
	font-family: 'Epilogue';
}

@mixin weight500($size: inherit, $color: inherit) {
	font-size: $size;
	font-weight: 500;
	color: $color;
	font-family: 'Epilogue';
}

@mixin ul {
	list-style-type: none;
	@include flex(row, flex-start, baseline, 2rem);

	li {
		@include weight700(14px, $ltgray);
		@include transition;
	}

	li:hover {
		@include hover(transparent, transparent, $offblack);
	}
}

@mixin button($background, $border, $size, $color) {
	border: 2px solid $border;
	border-radius: 0.8rem;
	background-color: $background;
	padding: 0.6rem 1.5rem;
	@include weight700($size, $color);
	@include transition(750ms);
}
